<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Transformations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Transformations.Properties.Settings.DatabaseConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <userSettings>
    <Transformations.Properties.Settings>
      <setting name="DefaultHeight" serializeAs="String">
        <value>75</value>
      </setting>
      <setting name="DefaultColour" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="DefaultGridColour" serializeAs="String">
        <value>LavenderBlush</value>
      </setting>
      <setting name="DefaultResolution" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultPerformance" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database.accdb</value>
      </setting>
      <setting name="DatalocDefault" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CurrentUser" serializeAs="String">
        <value>Guest</value>
      </setting>
      <setting name="UserID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ClassID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AliasName" serializeAs="String">
        <value>Guest</value>
      </setting>
      <setting name="IsTeacher" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DarkMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>EN</value>
      </setting>
    </Transformations.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;libs"/>
    </assemblyBinding>
  </runtime>
</configuration>
